:host {
  div {
    border-left: 5px solid #f97300;
    height: 100%;
    border-radius: 2px;
  }

  li {
    width: 698px;
    height: 40px;
    background-color: #fff;
    list-style: none;
  }
  .checkbox {
    margin: 0px;
    margin-top: 1px;
  }
}
