:host {
  width: 730px;
  input {
    width: 700px;
    height: 40px;
    outline: none;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }

  .add-btn {
    background-color: #f97300;
    position: absolute;
    height: 50px;
    width: 50px;
    right: 30px;
    top: -5px;
    border-radius: 50%;
  }
}
